body{background-color:lightblue;}
hl{color:navy;margin-left:20px}
#home{text-align: center;color:red;}
.myself{text-align: right;color:indigo;}
.school{font-weight: 36px;font-size:36px}
*{color: indigo; font-family: Georgia, 'Times New Roman', Times, serif; text-decoration: underline; font-style: italic ;}